[Unit]
Description=Beholder OTG
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/beholder/beholder/beholder-otg/
ExecStart=beholder_otg.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target