[Unit]
Description=Beholder
Requires=docker.service
After=docker.service beholder_otg.service beholder_boot.service

[Service]
Type=oneshot
Restart=on-failure
RestartSec=3
RemainAfterExit=true
WorkingDirectory=/home/beholder/beholder/beholder-otg/
ExecStart=beholder_docker.sh up
ExecStop=beholder_docker.sh down

[Install]
WantedBy=multi-user.target