[Unit]
Description=Beholder OTG
After=network-online.target beholder_boot.service
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/beholder/beholder/beholder-otg/
ExecStart=beholder_otg.sh
Restart=on-failure

[Install]
WantedBy=sysinit.target